{% extends "audan/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container mt-5 col-lg-7">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="text-muted display-6 border-bottom mb-4">Сбросить Пароль</legend>
            {{ form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">Сбросить пароль</button>
        </div>
    </form>
</div>
{% endblock %}

